
<html>

<head>
    <!--<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1">  -->

    <title>Large HTML page with images</title>

    <!-- The following link block and style block present methods how to load external CSS documents.
     The link tag forces an immediate download of the CSS document whereas the import clause in
     the style block has the document downloaded some random time later.  -->

    <link href="htmlparser/sections.css" rel="stylesheet" type="text/css">


    <!--
<style type="text/css">
@import url(htmlparser/sections.css);
</style>
-->

</head>

<body>
    <div>foo</div>
</body>
</html>