<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foo Bar</title>
    <link href="vendor.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <link type="redbarn/css" rel="stylesheet">
    <style id="page-styles"></style>
</head>
<body>
    <section id="content">
        The quick brown fox jumps over the lazy dog.
    </section>
    <link rel="import" href="templates/footer.html" type="redbarn/html">
    <section id="page-script-src"></section>
    <script id="page-scripts"></script>
</body>
</html>