<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Foo Bar</title>
      <link href="vendor.css" rel="stylesheet">
      <link href="app.css" rel="stylesheet">
      <link href="foo.css" rel="stylesheet">
      <link href="bar.css" rel="stylesheet">
      <style id="page-styles">
          .foo {
              background-color: transparent;
          }
      </style>
    </head>
    <body>
    <section id="content">
        <ul class="fruit">
            <li>apples</li>
            <li>pears</li>
            <li>plums</li>
        </ul>
        <p class="meat">lorem ipsum dolar at sim.</p>
        <p class="meat">lorem ipsum dolar at sim.</p>
    </section>
    <footer>
        Copyright 2017
    </footer>
    <section id="page-script-src">
        <script type="text/javascript" src="foo.js"></script>
        <script type="text/javascript" src="bar.js"></script>
        <script type="text/javascript" src="baz.js"></script>
    </section>
    <script id="page-scripts">
        function foo() {
            console.log('bar');
        }
    </script>
    </body>
</html>