<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foo Bar</title>
</head>
<body>
    <div>Foo</div>
    <ul class="fruit">
        <li>apples</li>
        <li>pears</li>
        <li>plums</li>
    </ul>
    <p>Bacon ipsum dolor amet short ribs pork belly rump, biltong jowl fatback strip steak. Beef ribs spare ribs pork loin pork belly boudin landjaeger salami biltong pork kevin. Tri-tip sausage kielbasa flank. T-bone fatback kielbasa boudin salami corned beef. Pig ball tip fatback, biltong flank beef kevin picanha turkey leberkas venison short ribs shank. Brisket rump chuck, tail salami burgdoggen short ribs leberkas. Kielbasa fatback tri-tip porchetta, meatloaf shankle tenderloin short ribs turkey.</p>
    <p>Bacon ipsum dolor amet short ribs pork belly rump, biltong jowl fatback strip steak. Beef ribs spare ribs pork loin pork belly boudin landjaeger salami biltong pork kevin. Tri-tip sausage kielbasa flank. T-bone fatback kielbasa boudin salami corned beef. Pig ball tip fatback, biltong flank beef kevin picanha turkey leberkas venison short ribs shank. Brisket rump chuck, tail salami burgdoggen short ribs leberkas. Kielbasa fatback tri-tip porchetta, meatloaf shankle tenderloin short ribs turkey.</p>
    <p>Pork loin kevin cow pig shoulder. Short ribs andouille kevin pork loin turkey strip steak capicola bresaola tongue spare ribs turducken tail t-bone chuck. Meatloaf bacon tongue, pig pancetta shankle ball tip sausage shoulder pastrami tri-tip short ribs. Pork chop tail pork belly pork loin swine chuck. Hamburger pancetta spare ribs short ribs jowl, jerky kevin corned beef drumstick picanha shankle. Pig leberkas tenderloin, cow jowl sausage biltong swine. Tail sirloin rump, ham hock chicken pork chop cupim fatback sausage boudin flank hamburger jerky.</p>
</body>
</html>